<div class="flex min-h-screen flex-col">
  {% section 'hero-carousel' %}
  {% section 'featured-products' %}
  {% section 'why-naturebuff' %}
  {% section 'testimonials' %}
  {% section 'newsletter' %}
</div>

